.banner{
	width: 100%;
	height:520px;
	border-top: 1px solid #bf1733;
	position: relative;
}
.banner_box{
	width: 100%;
	height:520px;
	overflow: hidden;
}
.banner_box a{
	display: block;
	width: 100%;
	height:520px;
}
.pagaition_dot{
	width:130px;
	height:20px;
	position: absolute;
	left: 50%;
	bottom:30px;
	margin-left: -65px;
}
.pagaition_dot a{
	float: left;
	width: 20px;
	height: 20px;
	border-radius:10px;
	margin-right: 6px;
	font-size: 12px;
	color: #fff;
	background: #000;
	text-align: center;
	line-height: 20px;
}
.pagaition_dot .active_btn{
	background: #cc0033;
}
.happyDay{
	width:1200px;
	height:150px;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}
.happyDay a{
	float: left;
	width:247px;
	height:150px;
}
.happyDay a:first-child{
	width:210px;
}
.happyDay img{
	opacity: 0.9;
}
.happyDay img:hover{
	opacity: 1;
}
.splite_one{
	width:1200px;
	height: 30px;
	margin: 0 auto;
}
.goods{
	width:1200px;
	height: 533px;
	margin:0 auto;
}
.g_left{
	float: left;
	width:190px;
	height: 533px;
	position: relative;
}
.g_left a{
	display: block;
	width:190px;
	height: 533px;
	position: absolute;
	left:0;
	top:0;
}
.g_left a img{
	width:190px;
	height: 533px;
	opacity: 0.9;
}
.g_left a img:hover{
	opacity: 1;
}
.g_center{
	float: left;
	width:603px;
	height: 533px;
	position: relative;
	overflow: hidden;
}
.g_btns{
	width:603px;
	height: 533px;
	position: absolute;
	left:0;
	top: 0;
}
.left_btn,.right_btn{
	display: block;
	width:35px;
	height: 59px;
	position: absolute;
	top:50%;
	margin-top:-30px;
	z-index: 2;
}
.left_btn{
	left:0;
	background: url("../images/pictures/mid-arrow.png") no-repeat 0 0;
}
.right_btn{
	right: 0;
	background: url("../images/pictures/mid-arrow.png") no-repeat 0 -59px;
}
.g_dots{
	width: 50px;
	height: 7px;
	padding:3px;
}
.left_dot,.right_dot{
	float: left;
	width: 23px;
	height: 7px;
	background: #fff;
}
.left_dot{
	margin-right: 4px;
}
.hot_dot{
	background: #bf1733;
}
.g_box{
	width: 1206px;
	height: 533px;
	position: absolute;
	left:0px;
	top: 0;
}
.show_one,.show_two{
	float: left;
	width:603px;
	height: 532px;
	border-bottom: 1px solid #ccc;
	
}
.standard_div{
	float: left;
	width:185px;
	height:250px;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	padding-top: 18px;
	padding-left: 15px;
}
.standard_div dl dt a{
	width:160px;
	height:140px;
}
.standard_div dl dt a img{
	width:160px;
	height:140px;
}
.standard_div dl dd{
	width:182px;
	overflow: hidden;
}
.discount{
	width:171px;
	height: 31px;
	background: url("../images/pictures/pp1.png") no-repeat;
}
.discount p{
	float:left;
	width:82px;
	height: 31px;
	color:#fff;
	line-height: 31px;
}
.discount p span{
	float:left;
	height: 31px;
	padding-left: 15px;
	padding-right: 10px;
	font-size: 22px;
	line-height: 31px;
	color:#fff;
	font-weight: 900;
}
.discount p em{
	float:left;
	height: 31px;
	font-size: 14px;
	line-height: 31px;
	color:#fff;
}
.discount a{
	float:left;
	height: 31px;
	font-size: 14px;
	line-height: 31px;
	color:#ff4546;
	text-align: center;
	margin-left: 33px;
}
.discount a:hover{
	text-decoration: underline;
}
.activeTime{
	width:170px;
	height: 16px;
	margin-top: 14px;
}
.activeTime em{
	float: left;
	width: 12px;
	height: 14px;
	background: url("../images/pictures/count-down-icon.png") no-repeat;
	margin-left: 10px;
	margin-right: 5px;
}
.activeTime p{
	float: left;
	width: 22px;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	padding-top: 2px;
	text-align: center;
	color:#ff4546;
}
.activeTime span{
	float: left;
	width: 12px;
	height: 12px;
	font-size: 12px;
}
.introduce{
	width: 170px;
	height:36px;
	line-height: 36px;
	font-size: 14px;
	color: #000;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}
.introduce:hover{
	text-decoration: underline;
	color: #aa4546;
}
.priceDiv{
	width: 170px;
	height:22px;
}
.price{
	float: left;
	height:22px;
}
.price em{
	float: left;
	width:14px;
	height:14px;
	font-size:14px;
	color:#ff4546;
	padding-top: 2px;
}
.price p{
	float: left;
	height:22px;
	font-size: 22px;
	line-height: 22px;
	color:#ff4546;
	font-weight: 900;
}
.price_discount{
	float: right;
	width:58px;
	height: 22px;
	background: url("../images/pictures/pp2.png") no-repeat;
}
.price_discount p{
	float: left;
	width:32px;
	height: 22px;
	color:#ff4546;
	font-size: 18px;
	line-height: 22px;
	font-weight: 900;
	padding-left: 3px;
}
.price_discount em{
	float: left;
	width:14px;
	height:14px;
	font-size:14px;
	color:#ff4546;
	padding-top: 2px;
}




























